html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

li {
  list-style: none; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

.page-wrapper {
  max-width: 960px;
  margin: 0 auto; }

@media only screen and (max-width: 750px) {
  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: rgba(0, 0, 0, 0.95);
    overflow-x: hidden;
    z-index: 5;
    -webkit-transition: all .7s;
    -o-transition: all .7s;
    transition: all .7s; }
    .overlay a {
      display: block;
      padding: 10px;
      color: #ccc;
      font-size: 30px;
      text-decoration: none; }
      .overlay a:hover, .overlay a:focus {
        color: #fff;
        -webkit-transition: all .5s ease-in-out .1s;
        -o-transition: all .5s ease-in-out .1s;
        transition: all .5s ease-in-out .1s; }
    .overlay .close-btn {
      position: absolute;
      top: 50px;
      right: 7px;
      font-size: 50px; }
  .overlay__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    text-align: center; }
    .overlay__content li {
      padding: 10px 0; }
  #open-btn-nav {
    display: block;
    padding: 7px;
    width: 35px;
    height: 30px;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
            border-radius: 5px; }
    #open-btn-nav .line {
      display: block;
      width: 20px;
      height: 3px;
      background: #000; }
    #open-btn-nav .line:nth-child(2) {
      margin: 3px 0; } }

.header-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  text-align: justify;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 25px 0 0 0; }

.header-social-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 200px; }

.intro {
  width: 100%;
  min-height: 450px;
  background: url("../../img/850px-DenverPostArticle1.jpg") no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  border-top: 1px solid #333333; }

.post-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  min-height: 165px;
  padding-bottom: 50px;
  border-bottom: 1px solid #333333; }
  .post-box .post {
    width: 295px; }
  .post-box .title {
    font: 400 16px "Georgia", sans-serif;
    color: #666666;
    margin: 50px 0 25px 0; }
  .post-box p {
    font: 400 14px/20px "Georgia", sans-serif;
    color: #666666; }

.services {
  width: 50%; }

.post-services {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }

.post-box .post-btn {
  display: block;
  width: 105px;
  margin-top: 20px;
  background-color: #d54346;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  font: 400 13px/30px "Georgia", sans-serif;
  color: #ffffff;
  text-align: center; }

.top-search-form input, .top-search-form button {
  width: 217px;
  background-color: #353535;
  border: none;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  padding: 0 10px;
  font: 400 12px/32px "nevis", sans-serif; }

.top-search-form button {
  width: 68px;
  background-color: #d54346; }

.header-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%; }
  .header-nav .overlay {
    width: 525px; }

.close-btn {
  display: none; }

.flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0 10px 0; }

.overlay__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap; }
  .overlay__content li a {
    padding: 0px 15px;
    color: #999999;
    font: 400 12px "nevis", sans-serif;
    text-transform: uppercase;
    cursor: pointer; }
    .overlay__content li a:hover {
      text-decoration: none; }
