//nav menu
.close-btn {display: none;}
.flexbox {
	min-height: 95px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}
.overlay__content {
	display: flex;
  flex-flow: row nowrap;
	li a{
		padding: 5px 20px;
		color: $primary_font_color;
		font: 600 18px $primary_font;
		text-transform: uppercase;
		cursor: pointer;
		&:hover {text-decoration: none;}
	}
}