$primary_font: "nevis", sans-serif;
$secondary_font: "Georgia", sans-serif;
$primary_font_color: #999999;
$secondary_font_color: #ffffff;
$secondary_text_color: #666666;
$title_color: #666666;
$special_color: #d54346;
